div{
    height: 100px;
    width:  500px;
    border: 1px solid black;
    /* margin-left: 80px; */
    margin: auto;
    
}

body{
    text-align: center;
}

button{
    background-color: rgb(92, 92, 136);
}

p{
    text-align: center; 
}